<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <img
        src="https://staging.websitedemos.net/halloween-party-04/wp-content/uploads/sites/1124/2022/09/logo-regular.png"
        alt=""
      />
    </header>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/ourservicers">OUR SERVICES</a></li>
        <li><a href="/contactus">CONTACT US </a></li>
      </ul>
    </nav>

    <section>
      <h3>Halloween</h3>
      <div
        style="
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: #e06121;
          transition: background-color 0.3s ease;
          display: flex;
          align-items: center;
          justify-content: center;
        "
        onmouseover="this.style.backgroundColor='#f00'"
        onmouseout="this.style.backgroundColor='#3498db'"
        class="buyticket"
      >
        <span>Buy <br />tickets</span>
      </div>
      <h1>Party</h1>
      <img
        src="https://staging.websitedemos.net/halloween-party-04/wp-content/uploads/sites/1124/2022/09/hero_01.png"
        alt=""
      />
    </section>
    <div class="footer">
      <img
        src="https://staging.websitedemos.net/halloween-party-04/wp-content/uploads/sites/1124/2022/09/logo-regular.png"
        alt=""
      />
      <p>Copyright © 2023 Halloween Party | Powered by Halloween Party</p>
    </div>
  </body>
</html>
