<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>services</title>
</head>
<body>
    <header>
        <img
          src="https://staging.websitedemos.net/halloween-party-04/wp-content/uploads/sites/1124/2022/09/logo-regular.png"
          alt=""
        />
      </header>
      <nav>
        <ul>
         <li><a href="/">HOME</a></li> 
          <li><a href="/ourservicers">OUR SERVICES</a></li>
          <li><a href="/contactus">CONTACT US </a></li>
        </ul>
        
      </nav>
      <div class="services">
        <h1>this is contact page</h1>

    </div>
</body>
</html>